* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;

}
body {
    background: black;
}
h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: white;
    font-weight: 700;
}
h3 {
    position: relative;
    color: white;
    font-size: 10vw;
    display: block;
    z-index: 3;
    text-align: center;
}
p {
    font-size: 30px;
    font-weight: 200;
    line-height: 2;
    margin-top: 8px;
    padding-bottom: 28px;
    padding: 5px;
}
.text-container{
    padding: 5px;
    padding-left: 10em;
    padding-right: 5em;
}

.aboutme {
    color: white;
    display:block;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    text-align: left;
}
.pictures {
    border-radius: 70%;
    z-index: 2;
    padding: 50px;
    width: 40%;
    height: 50%;
}
  
.profilePic{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
    margin-top: 10px;
}
.email {
    text-align: center;
    border-width: 2px;
    /* border-style: solid; */
    width: 50%;
    z-index: 4;
    position: absolute;
    top: 1050px;
}