* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: black;
}

 .custom-nav .nav-list {
    position: absolute;
    text-align: left;
    padding-top: 0px;
    padding-left: 440px;
    color: white;

}
h2 {
    position: relative;
    width: 100%;
    height: 100vh;
    text-align: center;
    line-height: 100vh;
    font-size: 10vw;
    color: white;
    font-weight: 700;
}

h3 {
    position: relative;
    color: white;
    font-size: 10vw;
    display: block;
    z-index: 3;
    text-align: center;
}

p {
    font-size: 30px;
    font-weight: 200;
    line-height: 2;
    margin-top: 8px;
    padding-bottom: 28px;
    padding: 5px;
}
.text-container {
    padding: 5px;
    padding-left: 10em;
    padding-right: 5em;
}

.aboutme {
    color: white;
    display:block;
    position: relative;
    z-index: 3;
    margin: 0 auto;
    text-align: left;
    padding: 25px;
    margin: 15px;
}

.aboutme .text-container {
    border-style: solid;
    border-radius: 4px;
    color:white;
    padding: 25px;
}
.pictures {
    border-radius: 70%;
    z-index: 2;
    padding: 50px;
    width: 40%;
    height: 50%;
}

.profilePic {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding-top: 50px;
    margin-top: 10px;
}

.outer-box::before {
    content: "";
    border-radius: 8px;
    width: 100%;
    height: 95%;
    position: absolute;
    border: 1px inset #e388e5 ;
    border-width: .2em;
    right: -8px;
    z-index: -2;
    -webkit-transition: all 0.3s !important;
    transition: all 0.3s !important;
}

.contact-info a img {
    margin-top: 50px;
    gap: 50px;
    width: 100px;
    border-radius: 30px;
    height: 75px;
}

.contact-info {
    display: flex;
    justify-content: center; 
    align-items: center;
    gap: 25px; 
}