@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;1,400&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.homeBackground{
    /* min-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: black;
    overflow: hidden;
}
.container{
        /* Make sure text is infront of background images */
        display:block;
        position: relative;
        z-index: 3;
        text-align: center;
}
.container .text{
    position: relative;
    color: blueviolet;
    font-size: 30px;
    font-weight: 600;
}
.container .text.first-text{
    color: white;
    text-align: right;


}
.text.sec-text:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    background-color: black;
    border-left: 2px solid blueviolet;
    animation: animate 4s steps(12) infinite;
}
@keyframes animate{
    40%, 60%{
        left: 100%;
    }
    100%{
        left: 0%;
    }
}