body{
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
}
.wrapper {
    padding-top: 200px;
 }
 .row {
     display: flex;
     flex-direction: row;
     flex-wrap: wrap;
     width: 100%;
   }
h1 {
    font-size: 3.0em;
    text-shadow: 5px 5px #558ABB;
  }
p {
    font-size: 20px;
    font-weight: 200;
    line-height: 28px;
    margin-top: 8px;
    padding-bottom: 28px;
}
.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    gap: 50px;
    margin-left: 100px;
  }
.granularSynthesisDemo{
    border-style: groove;
    border-color: rgb(195, 182, 204);
    border-width: 2em;
    border-radius: 4px;
    width: 450px;
    
}
.demo-container1, .demo-container2{
    margin-top: 35px;
    border-style: groove;
    border-color: rgb(120, 139, 197);
    border-width: 2em;
    border-radius: 4px;
    width: 450px;
    padding: 10px;
   
  }
  @media screen and (min-width: 800px) {
    .column {
      flex: 1
    }
  }
