body {
    background-color: black;
    color:white;
    font-family: 'Lato', sans-serif;
}

.parrot-meets-sequencers {
    display: flex;
    gap: 100px;
    align-items: center;
    justify-content: center;
}
.gustavo {
    display: flex;
    width: 100%;
    border-radius: 12px;
}

p {
    font-size:30px;
    font-weight: 200;
    line-height: 28px;
    margin-top: 8px;
    padding-bottom: 28px;
    padding: 5px;
}

.description{
    margin-bottom: 250px;
    border-style: double;
    border-width: 2em;
    border-color: white;
    border-radius: 4px;
    padding: 50px;
    margin: 50px;  
}

.titles, .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}
.titles .text {
    font-size: 6.5em;
    margin-top: 200px;
    text-shadow: 5px 5px #558ABB;
    /* padding-top: 100px;  */
}
.shaggedByParrot {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.youtube {
    width: 50%;
    border-radius: 15px;
}

.github {
    border-radius: 15px;
    width: 40px;
    margin-left: 20px;
}
.url{
    background: -webkit-linear-gradient(#e66465, #9198e5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.demo-container, .parrot-meets-sequencers {
    display: flex;
    justify-content: center;
    align-content: center; 
    flex-direction: column;
}
.demo {
    border-radius: 12px;
    margin: 50px;
}
figcaption{
    padding: 8px;
    font-size: 1.5em;
}
